@CHARSET "UTF-8";



body {
	position: relative;
	background-color: #FFFFFF;
	color: #787878;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family:  Helvetica neue, sans-serif, Arial;
}

a {
	text-decoration: none;
	color: #33B5E5;
}

a:hover {
	text-decoration: none;
	color: #0099cc;
}

div {
	margin: 0px;
	padding: 0px;
}

div.Clear {
	clear: both;
}