div.Content {
	position: relative;
	font-size: 12px;
	padding-top: 30px;
	width: 1000px;
	margin: 0 auto;
}

div.Content div.SideBar {
	position: relative;
	width: 300px;
	float: left;
}

div.Content div.Posts {
	position: relative;
	width: 600px;
	float: right;
}

@media all and (max-width: 1100px) {
	div.Content div.SideBar {
		display: none;
	}
	
	div.Content {
		width: auto;
	}
	
	div.Content div.Posts {
		margin-right: 50px;
		margin-left: 50px;
		width: auto;
		float: none;
	}
}

