div.Content {
	position: relative;
	font-size: 12px;
	padding-top: 30px;
	width: 1160px;
	margin: 0 auto;
}

div.Content div.SideBar {
	position: relative;
	width: 300px;
	float: left;
	margin-left: 100px;
}

div.Content div.Posts {
	position: relative;
	margin-right: 100px;
	width: 600px;
	float: right;
}

