@CHARSET "UTF-8";

body {
	font-size: 12px;
	text-align: justify;
}

div.Content {
	position: relative;
	padding-top: 30px;
	width: 500px;
	margin: 0 auto;
}

div.Card {
	border: 1px solid #636363;
	width: 300px;
	height: 175px;
	position: fixed;
	right: 5px;
	bottom: 5px;
}

div.Card div.Logo {
	margin: 40px 0px 0px 40px;
	float: left;
}

div.Card div.Info {
	text-align: right; margin : 15px;
	float: right;
	margin: 15px;
}