div.Group div.Row {
	margin: 10px;
	colo: #A19D9A;
}

div.Group div.Label {
	float: left;
	margin-right: 5px;
	font-weight: bold;
}

div.Group div.Title {
	font-size: 20px;
	position: relative;
	font-weight: bold;
	padding: 5px;
	background-color: #F2F3F0;
	color: #333333;
}

div.Group {
	position: relative;
	border: 2px solid #F2F3F0;
}
