div.Post div.Html {
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A19D9A;
	padding-bottom: 20px;
	line-height: 180%;
}

div.Post div.Date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	color: #A19D9A;
	padding-bottom: 20px;
}

div.Post div.Title {
	font-size: 33px;
	letter-spacing: -.5px;
	color: #FF3000;
	text-decoration: none;
}

div.Post {
	padding: 20px 0px;
	border-bottom: 1px dotted #E7E2DC;
}

div.Post div.ReadMoreLink {
	float: left;
}

div.Post div.Twitter {
	float: left;
}