div.Post div.Html {
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A19D9A;
	padding-bottom: 20px;
	line-height: 180%;
}

div.Post div.Date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	color: #A19D9A;
	padding-bottom: 20px;
}

div.Post div.Images {
	float: left;
}

div.Post  img {
	margin-right: 10px;
	border-style: solid;
	border-color: #000000;
	border-width: 10px;
}

div.Post a {
	color: #4c4c4c;
}

div.Post a:hover {
	color: #0099cc;
}

div.Post a img:hover {
	border-color: #0099cc;
}

div.Post div.Title {
	font-size: 33px;
	letter-spacing: -.5px;
	text-decoration: none;
}

div.Post {
	padding: 20px 0px;
	border-bottom: 1px dotted #E7E2DC;
}

div.Post div.Twitter {
	float: left;
}

div.Post img.Thumbnail {
	width: 300px;
	height: 225px;
}

@media all and (max-width: 1100px) {
	div.Post img.Thumbnail {
		width: 400px;
		height: 300px;
	}
}