@CHARSET "UTF-8";

body {
	position: relative;
	background-color: #FFFFFF;
	color: #787878;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #FF3000;
}

a:hover {
	text-decoration: underline;
}

div {
	margin: 0px;
	padding: 0px;
}

div.Clear {
	clear: both;
}

